.graph {
  background: ghostwhite;
}
.graph__playhead {
  stroke-width: 2;
  stroke: currentColor;
}

.graph__paths path:nth-last-child(1) {
  fill: var(--color-1);
  opacity: 1;
}
.graph__paths path:nth-last-child(2) {
  fill: var(--color-2);
  opacity: 0.66;
}
.graph__paths path:nth-last-child(3) {
  fill: var(--color-3);
  opacity: 0.66;
}

.graph__grayscale-overlay {
  mix-blend-mode: saturation;
  fill: #ffffff;
}
.graph__opacity-overlay {
  fill: #000;
  opacity: 0.1;
}
