html {
  font: 16px/24px sans-serif;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

audio {
  width: 100%;
}

/* drop-area */
.drop-area {
  border: medium dashed rgb(204, 212, 222);
  padding: 4rem;
}
.drop-area--active {
  border: medium dashed rgb(35, 198, 114);
}
.drop-area--rejected {
  border: medium dashed firebrick;
}
