:root {
  --color-1: #ef476f;
  --color-2: #ffd166;
  --color-3: #06d6a0;
  --color-4: #118ab2;
  --color-5: #073b4c;
}
html {
  font: 16px/24px sans-serif;
  box-sizing: border-box;
  color: white;
  background-color: #073b4c;
}
* {
  box-sizing: inherit;
}
body {
  margin: 0;
}
body::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  height: 1rem;
  width: 100%;
  background-color: #f00;
  background: linear-gradient(
    to right,
    var(--color-1),
    var(--color-1) 20%,
    var(--color-2) 20%,
    var(--color-2) 40%,
    var(--color-3) 40%,
    var(--color-3) 60%,
    var(--color-4) 60%,
    var(--color-4) 80%,
    var(--color-5) 80%,
    var(--color-5) 100%
  );
}

[hidden] {
  visibility: hidden !important;
}

/* utility classes */
.text--center {
  text-align: center;
}

/* buttons */
.btn,
button {
  padding: 0.5rem 2rem;
  display: inline-block;
  background: white;
  border: thin solid #939393;
  border-radius: 0.5rem;
  box-shadow: inset 0 -2px 0 #93939350;
  font: inherit;
  cursor: pointer;
}
.btn:hover,
.btn:focus,
button:hover,
button:focus {
  /* background: red; */
}
.btn--wide {
  padding: 1rem 6rem;
}

:focus:not(:focus-visible) {
  outline: none;
}
:focus-visible {
  outline: 4px dashed darkorange;
}

/* ---------------------------- */
a {
  background: #999;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  position: relative;
  border: 2px solid #000;
}

a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  border: 2px solid #ccc;
}
/* ---------------------------- */

:focus-ring {
  background: limegreen;
}

/* layout */
.layout {
  max-width: 1200px;
  margin: 0 auto;
}

audio {
  width: 100%;
}

/* drop-area */
.drop-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: 1;
  display: grid;
  place-items: center;
  font-size: 3rem;
  color: white;
  will-change: opacity, background-color;
  transition: opacity 200ms, background-color 200ms;
}
.drop-area--hidden {
  opacity: 0;
  pointer-events: none;
}
.drop-area--active {
  background: rgba(12, 216, 111, 0.769);
  opacity: 1;
  pointer-events: all;
}
.drop-area--rejected {
  background: rgba(220, 20, 60, 0.783);
  opacity: 1;
  pointer-events: all;
}

/* begin */
.begin {
  margin: 4rem 0 8rem;
  background: whitesmoke;
  padding: 0 2rem;
  overflow: hidden;
}
.begin p {
  margin: 4rem 0;
}
